body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    width: 1120px;
    margin: 0 auto;
}
.avatar{
    width: 24px;
    height:24px;
    border-radius: 12px;
    object-fit: cover;
}

.photo1{
    width: 265px;
    height: 265px;
    border-radius: 4px;
    object-fit: cover;
}

.photo2{
    width: 265px;
    height: 265px;
    border-radius: 4px;
    object-fit: cover;
}

.photo3{
    width: 265px;
    height: 265px;
    border-radius: 4px;
    object-fit: cover;
}

.color-box {
    width: 24px;
    height: 24px;
    background-color: #E1E0E6;
    border-radius: 4px;
    border-radius: 0;
}

.box{
    display:flex;
    gap: 8px;
}

.header{
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.header-text{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: lowercase;
}

.hw{
    height: 246px;
    display: flex;
    align-items: center 
}

.hw-text{
    font-family: "Kanit", sans-serif;
    font-size: 48px;
    font-weight: 500;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 755px;
}

.post{
    display: flex;
    justify-content: space-between;
}

.under-panel{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.under-panel-buttons{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.author{
    margin-bottom: 48px;
    display: flex;
    align-items: center
}

.author-text{
    font-weight: 500;
    font-size: 14px;
    margin-left: 3px;
}

.in{
    opacity: 0.5;
}

.july{
    opacity: 0.5;
}

.title{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 24px;
}

.title-text{
    font-weight: 400;
    font-size: 16px;
    max-width: 680px;
}

.javascript{
    display: inline-block;
    background-color: #E9E8EC;   
    color: #1A1A1A;       
    border-radius: 9999px;     
    padding: 6px 12px;         
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.min{
    opacity: 0.5;
    font-size: 14px;
}

.selected{
    opacity: 0.5;
    font-size: 14px;
}

hr {
    border: 1px;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
    width: 1120px;
    margin-top: 40px;
    opacity: 0.1;
}

.title-text-2{
    font-weight: 400;
    font-size: 16px;
    max-width: 650px;
}

footer{
    height: 200px;
}

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    
}

.credits{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
}

a{
    color: inherit;
}

.nfactorial{
    color: #081E34;
    margin-top: 42px;
    font-size: 14px;
    font-weight: 500;
}

.empty{
    height: 100px;
}


#post-container{
display: flex;
justify-content: space-between;

}

.title.clickable {
    cursor: pointer; /* Указатель мыши меняется на "руку", чтобы показать, что это интерактивный элемент */
}

.title.clickable:hover {
    text-decoration: none; /* Убираем подчеркивание, чтобы добавить акцент на интерактивность */
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container{
          width: 700px;
    }
}

@media only screen and (max-width: 576px) {
    .container{
        width: 500px;
    }

    .box{
        position: relative;
        margin-left: 100px; 
    }

    .title{
        width: 500px;
    }

    .title-text-2{
        width: 500px;
    }

    .post{
        flex-direction: column;
    }

    .under-panel{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}